html, body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: grey;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}